/* * DISEÑO GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1, 5fr auto 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  width: 50%;
  height: 50%;
}
.header {
  grid-area: header;
}
.body {
  grid-area: main;
}
.footer {
  grid-area: footer;
}

.header {
  grid-area: header;
  height: 150px;
  width: 100vw;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 5px solid black;
  background-color: yellowgreen;

  padding: 10px;
}

.header h2 {
  font-family: "Mooli", sans-serif;
  font-weight: 1000;
  color: whitesmoke;
  text-shadow: 0.1em 0.1em 0.05em #333;
}

.boton-menu {
  display: none;
}

.links-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: end;
  margin-right: 10px;
  color: black;
  list-style: none; /*quita el punto ql del enlace*/
  font-family: "Lato", sans-serif;
}

.enlace-header {
  text-align: center;
  color: black;
}

.enlace-header:hover {
  font-size: 20px;
  background-color: yellow;
}


/* ? PAGINA INICIO */

.div-principal,
.div-principal1 {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  background-color: grey;
}

.div-principal div,
.div-principal1 div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: start;
}

.div-principal div h1 {
  font-family: "Lato", sans-serif;
  text-align: center;
}

.div-principal div p,
.div-principal1 div p {
  text-align: left;
  width: 400px;
  padding: 10px;
}

.index-img {
  width: 400px;
  height: 400px;
}

.footer {
  grid-area: footer;
  background-color: yellowgreen;
  width: 100vw;
  display: flex;
  flex-direction: row ;
  justify-content: space-around;
}

.footer p{
  margin: 0 0 5px;
}

@media (max-width: 1150px) {
  .header h1 {
    text-align: left;
  }
  .links-header {
    flex-direction: column;
    justify-content: end;
    width: 80vw;
    margin-top: 10px;
    gap: 5px;
  }
}

@media (max-width: 900px) {
  .div-principal{
    flex-direction: column;
    align-items: center;
  }
  .div-principal1{
    flex-direction: column-reverse;
    align-items: center;
  }

  .div-principal img, .div-principal1 img{
    width: 300px;
    height: 300px;
  }
  .div-principal div p, .div-principal1 div p{
    width: 80vw ;
    padding: 5px;
    text-align: left;
    font-size: medium;
  }

  .div-principal div h3, .div-principal1 div h3{
  padding: 20px;
  text-align: center;
  }
}

@media (max-width: 500px) {
  .header {
    flex-direction: column;
  }

  .links-header {
    display: none;
  }

  .boton-menu {
    display: inline;
  }

 .footer{
  flex-direction: column;
 }
}

/* *TERMOGRAFÍA*/

.termo-wtf {
  width: 400px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}

.main-termo {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  background-color: grey;
}

.contenedor-carrusel {
  width: 810px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.carousel-item {
  display: flex;
  flex-direction: row;
}

.img-carrusel {
  height: 300px;
  width: 400px;
}

@media (max-width:1000px){
  .main-termo{
   flex-direction: column;
   align-items: center;
  }

  .contenedor-carrusel{
    width: 610px;
  }
  .img-carrusel{
    height: 200px;
    width: 300px;
  }
}

@media (max-width:700px){

  .contenedor-carrusel{
    flex-direction: column;
    height: 410px;
    width: 300px ;
    align-items: center;
  }

}

/*!CONECTORES*/

.img-tarjeta {
  height: 250px;
}

.contenedor-tarjetas {
  display: grid;
  grid-template-columns: repeat(3, 288px);
  grid-template-rows: repeat(2, 466px);
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "c1 c2 c3"
    "c4 c5 c6";
  width: 100vw;
  height: 50%;
  gap: 20px;
  justify-content: center;
  font-family: "Comic Neue", cursive;
  font-weight: 900;
}

.card {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.63);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.63);
}

.btn {
  -webkit-box-shadow: 7px 11px 5px -1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 7px 11px 5px -1px rgba(0, 0, 0, 0.45);
  box-shadow: 7px 11px 5px -1px rgba(0, 0, 0, 0.45);
}

.c1 {
  grid-area: c1;
}

.c2 {
  grid-area: c2;
}

.c3 {
  grid-area: c3;
}

.c4 {
  grid-area: c4;
}

.c5 {
  grid-area: c5;
}

.c6 {
  grid-area: c6;
}

@media (max-width: 900px) {
  .contenedor-tarjetas {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px 0px;
    grid-template-areas:
      "c1 c2"
      "c3 c4"
      "c5 c6";
    width: 100vw;
    height: 50%;
    justify-items: center;
    gap: 10px;
  }
}

@media (max-width: 600px) {
  .contenedor-tarjetas {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
  }
}

/* *ULTRASONIDO */

.contenedor-us {
  background-color: gray;
}

.ultrasonido {
  display: flex;
  flex-direction: column;
}

.ultrasonido-wtf {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ultrasonido-wtf img {
  width: 500px;
  height: 300px;
  padding: 10px;
}

.ultrasonido h1 {
  text-align: center;
}

.ultrasonido-wtf p {
  padding: 10px;
  width: 40vw;
}

.ultra-tipos {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(6, 180px);
  grid-template-rows: repeat(3, 500px);
  /* gap: 10px 10px;  */
  grid-template-areas:
    ". elec elec fuga fuga ."
    ". valv valv trap trap ."
    ". . mec mec . .";
  width: 100vw;
  height: 50%;
  justify-content: center;
}
.mec {
  grid-area: mec;
}
.trap {
  grid-area: trap;
}
.valv {
  grid-area: valv;
}
.elec {
  grid-area: elec;
}
.fuga {
  grid-area: fuga;
}

.card-us {
  height: 450px;
  border-radius: 50px;
}

.card-us img {
  height: 200px;
}

@media (max-width: 1150px) {
  .ultrasonido-wtf {
    flex-direction: column;
    align-items: center;
  }

  .ultrasonido-wtf p {
    width: 80vw;
  }
  .ultrasonido-wtf img {
    width: 60vw;
  }
}

@media (max-width: 730px) {
  .ultra-tipos {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .ultrasonido-wtf img {
    width: 90vw;
  }

}


.fixed-contactos{

  position: fixed;
  bottom: 100px;
  right: 20px;
  left: 20px;
  display: flex;
  justify-content: right;

}

.contenedor-footer {
  border: solid 5px rgb(65, 25, 94);
  font-family: 'Lato', sans-serif;
  color: black;
  background: greenyellow;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 10px;
  align-items: center;
  border-radius: 10px;
}

.footer-links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:2px;
}

footer img{
  height: 50px;
  width: 50px;
  border-radius: 10px;

}

@media (max-width:900px){
  .fixed-contactos{
    right: 0;
  }
  .contenedor-footer{
    height: 170px;
  }
  .fixed-contactos h5{
    display: none;
    
    }
    .footer-links{
      display: flex;
      flex-direction: column;
    }
}
